<form>
    <div class="form-group">
        <label>Name</label>
        <input class="name form-control" type="text" required />
    </div>
    <div class="form-group parent-category-group">
        <label>Parent Category</label>
        <button type="button" class="btn btn-default make-root">Make root</button>
        <div class="categories-viewpart"></div>
    </div>
    <div class="buttons-viewpart">
        <button type="button" class="btn btn-danger cancel">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>